*
{
    padding: 0%;
    margin: 0%;
}

body
{
    font-family: 'Raleway', sans-serif;  
}

header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    
}

nav img
{
    height: 50px;  
    margin-top: 2.3%;
    margin-left: 4.7%;
}

nav ul 
{
    display: flex;
    list-style: none;
    
    
    
}

nav li
{
    margin: 0 50px 0 20px;
}

.bleu
{
    color: rgb(0, 101, 252);
    border-top: 0.2em solid blue;
    padding: 35px;
}

.bas
{
margin-top: 38px;
color: black;
}

header a
{
    text-decoration: none;
}
