/*Police*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
body {
    font-family: "Raleway", sans-serif;
}
/*header*/
body > header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

h3,
p {
    color: black;
}

.star-white {
    color: #f2f2f2;
}

header img {
    position: relative;
    width: 100px;
}

header a {
    padding-top: 3px;
    color: black;
}

header ul {
    display: flex;
}

header nav {
    padding: 20px;
    display: block;
}

#housing-a {
    padding: 20px;
}
#housing-a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

/*Section outil*/
#section-button {
    padding: 10px 20px;
}

#bar-search {
    margin: 12px 0 12px 0;
    display: flex;
    padding: 0 0 15px;
}

#field-search-bar {
    border: 1px solid #e4e8e7;
    padding: 0 10px;
}
#button-search {
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
    border: 1px solid #0065fc;
    cursor: pointer;
}

.location {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

#button-search i {
    display: none;
    color: white;
    width: 40px;
}

#button-search span {
    color: white;
    padding: 0 20px;
    cursor: pointer;
}

#filtered {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

#section-button p i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    margin-right: 5px;
}

section > button {
    margin: 0 10px 5px 0;
    border: solid 2px #f2f2f2;
    border-radius: 200px;
    background-color: white;
    cursor: pointer;
}

section h1 {
    font-size: 22px;
    font-weight: bold;
}

#housing-info {
    margin-top: 15px;
    display: flex;
}

#logo-economique span {
    padding: 0 15px;
    font-weight: bold;
}

#logo-economique i {
    color: #0065fc;
    height: 40px;
    background-color: #deebff;
    width: 40px;
    border-radius: 20px;
    line-height: 40px;
    margin: -2px;
}

#logo-familial span {
    padding: 0 15px;
    font-weight: bold;
}

#logo-familial i {
    color: #0065fc;
    height: 40px;
    background-color: #deebff;
    width: 40px;
    border-radius: 20px;
    line-height: 40px;
    margin: -2px;
}

#logo-romantique span {
    padding: 0px 15px;
    font-weight: bold;
}

#logo-romantique i {
    color: rgb(0, 101, 252);
    height: 40px;
    background-color: rgb(222, 235, 255);
    width: 40px;
    border-radius: 20px;
    line-height: 40px;
    margin: -2px;
}

#logo-animaux span {
    padding: 0px 15px;
    font-weight: bold;
}

#logo-animaux i {
    color: #0065fc;
    height: 40px;
    background-color: #deebff;
    width: 40px;
    border-radius: 20px;
    line-height: 40px;
    margin: -2px;
}

/*Populaire/Hebergement*/
#housing {
    display: flex;
    padding: 15px;
    gap: 20px;
}

#housing > section {
    padding: 15px;
}

#housing header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

/*Populaire Marseille*/

#title-popular {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

#popular-section {
    width: 35%;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
}

#popular-section figure {
    display: flex;
    height: 11vw;
    width: 100%;
    background-color: rgb(255 255 255);
    border-radius: 20px;
}

#div-popular {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#div-popular figcaption {
    position: relative;
    padding: 15px;
    width: 60%;
}

#div-popular figcaption > div {
    position: absolute;
    bottom: 10px;
    color: #0065fc;
    display: flex;
}

#div-popular figcaption > h3 {
    font-size: 19px;
    font-weight: bold;
}

#div-popular figure > img {
    object-fit: cover;
    width: 40%;
    border-radius: 20px 0 0 20px;
    padding: 8px;
}

/*Hotel Marseille*/
#accommodation-section {
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 30px;
}

#title-accommodation {
    font-size: 20px;
    font-weight: bold;
}

#show-more {
    background: url(../images/button/Reset2.png) no-repeat;
    border: none;
    width: 90px;
    height: 32px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: contents;
}

#accommodation-section figure {
    padding: 5px;
    background-color: rgb(255 255 255);
    border-radius: 20px;
    height: 17vw;
}

#First-line {
    display: flex;
    gap: 20px;
}

div#First-line > a {
    width: calc(100% / 3);
}

#First-line img {
    object-fit: cover;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

#First-line figcaption {
    height: 40%;
    position: relative;
    padding: 19px 15px;
}

#First-line figcaption > div {
    position: absolute;
    bottom: 10px;
    display: flex;
    color: #0065fc;
}

#First-line h3 {
    font-size: 19px;
    font-weight: bold;
}

#second-line {
    display: flex;
    gap: 20px;
    padding: 20px 0 20px 0;
}

div#second-line > a {
    width: calc(100% / 3);
}
#second-line img {
    object-fit: cover;
    height: 60%;
    border-radius: 20px 20px 0 0;
}
#second-line figcaption {
    height: 40%;
    position: relative;
    padding: 19px 15px;
}
#second-line figcaption > div {
    position: absolute;
    bottom: 10px;
    display: flex;
    color: #0065fc;
}

#second-line h3 {
    font-size: 19px;
    font-weight: bold;
}

/*Activités*/
#activity-section {
    padding: 20px;
}

#title-activities {
    font-size: 20px;
    font-weight: bold;
}

#picture-activities {
    display: flex;
    gap: 40px;
    padding: 20px 0;
}

div#picture-activities > div {
    width: calc(100% / 4);
}

.duo-activity figure {
    height: 600px;
    box-shadow: 0px 5px 10px #f2f2f2;
    border-radius: 20px;
}

figure.figure-duo img {
    object-fit: cover;
    height: calc(100% - 60px);
    border-radius: 20px 20px 0 0;
}

figure.figure-duo figcaption {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#div-fort-de-poègues-et-iles-du-frioul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#div-fort-de-poègues-et-iles-du-frioul img {
    height: calc(100% - 60px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#figure-le-fort-de-pomègues {
    height: 400px;
    box-shadow: 0px 5px 10px #f2f2f2;
    border-radius: 20px;
}

#figure-le-fort-de-pomègues figcaption {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#figure-ile-du-frioul {
    height: 160px;
    box-shadow: 0px 5px 10px #f2f2f2;
    border-radius: 20px;
}

#figure-ile-du-frioul figcaption {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#div-notre-dame-de-la-garde-et-parc-longchamp {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.figure-notre-dame-de-la-garde-long {
    height: 280px;
    box-shadow: 0px 5px 10px #f2f2f2;
    border-radius: 20px;
}

.figure-notre-dame-de-la-garde-long img {
    height: calc(100% - 60px);
    border-radius: 20px 20px 0 0;
}

.figure-notre-dame-de-la-garde-long figcaption {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}

/*footer*/
footer {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #f2f2f2;
}

footer > div {
    width: calc(100% / 3);
}

footer div > h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 1300px) {
    #div-popular figcaption > h3 {
        font-size: calc(7px + 0.6vw);
    }
    #div-popular figcaption > p {
        font-size: calc(5px + 0.7vw);
    }

    #div-popular figcaption > div {
        font-size: calc(5px + 0.7vw);
    }
    #second-line h3 {
        font-size: calc(7px + 0.6vw);
    }
    #second-line {
        font-size: calc(5px + 0.7vw);
    }
    #First-line h3 {
        font-size: calc(7px + 0.6vw);
    }
    #First-line {
        font-size: calc(5px + 0.7vw);
    }
    section h1 {
        font-size: calc(9px + 1vw);
    }
    #show-more {
        font-size: calc(9px + 0.6vw);
    }
    #title-popular {
        font-size: calc(8px + 1vw);
    }
    #title-accommodation {
        font-size: calc(8px + 1vw);
    }
    #title-activities {
        font-size: calc(8px + 1vw);
    }
    footer div > h3 {
        font-size: calc(4px + 1vw);
    }
    footer li {
        font-size: calc(1px + 1vw);
    }
    #housing-info {
        font-size: calc(5px + 0.7vw);
    }
    section-button p i {
        font-size: calc(5px + 0.7vw);
    }
}

@media screen and (min-width: 993px) and (max-width: 1500px) {
    #First-line figcaption {
        padding: 0 10px;
    }

    #second-line figcaption {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1412px) {
    #activity-section div figcaption > h3 {
        font-size: calc(7px + 0.6vw);
    }

    #section-button span {
        font-size: 12px;
    }
    #section-button p {
        font-size: 13px;
    }
}
