#housing {
    flex-direction: column-reverse;
}

#popular-section {
    width: 100%;
}

#div-popular {
    flex-direction: row;
    width: 100%;
}

#div-popular figure > img {
    width: 50%;
}

#popular-section figure {
    height: 19vw;
}

#div-popular figcaption {
    width: 50%;
}

#div-popular > a {
    width: calc(100% / 3);
}

#accommodation-section {
    width: 100%;
}

#second-line {
    padding: 0;
}

#accommodation-section figure {
    height: 35vw;
    margin-bottom: 20px;
}

#First-line img {
    height: 70%;
}

#First-line figcaption {
    height: 30%;
    padding: 0;
}

#second-line img {
    height: 70%;
}

#second-line figcaption {
    height: 30%;
    padding: 0;
}

div#picture-activities > div {
    width: 100%;
}

#activity-section figure > img {
    object-fit: cover;
}

header nav {
    font-size: calc(4px + 1vw);
}

figure.figure-duo figcaption {
    height: 40px;
}
figure.figure-duo img {
    height: calc(100% - 40px);
}
#figure-le-fort-de-pomègues figcaption {
    height: 40px;
}

#div-fort-de-poègues-et-iles-du-frioul img {
    height: calc(100% - 40px);
}

#figure-ile-du-frioul figcaption {
    height: 40px;
}

.figure-notre-dame-de-la-garde-long figcaption {
    height: 40px;
}

.figure-notre-dame-de-la-garde-long img {
    height: calc(100% - 40px);
}

#first-line-activity {
    flex-direction: column;
}

#second-line-activity {
    flex-direction: column;
}

#picture-activities {
    height: auto;
}

.duo-activity figure {
    height: 30vw;
}

#figure-le-fort-de-pomègues {
    height: 30vw;
}

.figure-notre-dame-de-la-garde-long {
    height: 30vw;
}

#figure-ile-du-frioul {
    height: 30vw;
}
