body > header {
    display: Block;
}

header a {
    display: flex;
    justify-content: center;
}

#housing-a {
    padding: 0 20px;
}

header a {
    padding: 0 20px;
}

header nav {
    font-size: calc(8px + 1vw);
    width: 100%;
    padding: 20px 0;
}

#housing-a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
}

#house {
    width: 50%;
}

#activity a:hover {
    border-top: none;
    border-bottom: 2px solid #f2f2f2;
}

#activity {
    width: 50%;
}

#button-search i {
    display: inline-block;
    color: white;
    width: 40px;
}

#button-search span {
    display: none;
}

#button-search {
    border-radius: 10px 10px 10px 10px;
    margin-left: -10px;
}

#bar-search {
    display: flex;
    justify-content: center;
}

#accommodation-section {
    background-color: white;
}

#First-line {
    flex-direction: column;
}

div#First-line > a {
    width: 100%;
}

#First-line img {
    height: 60%;
}

#First-line figcaption {
    height: 40%;
    padding: 8px;
}

#First-line figcaption > div {
    bottom: 0;
}

#second-line {
    flex-direction: column;
}

div#second-line > a {
    width: 100%;
}

#second-line img {
    height: 60%;
}

#second-line figcaption {
    height: 40%;
    padding: 8px;
}

#second-line figcaption > div {
    bottom: 0;
}

#popular-section figure {
    height: 24vw;
}

#activity-section figure > img {
    height: 70%;
}

#activity-section figure > figcaption {
    height: 30%;
}

#popular-section {
    border-radius: 0;
}

#accommodation-section figure {
    box-shadow: 0px 5px 10px #f2f2f2;
}

footer div > h3 {
    font-size: 10px;
    margin-bottom: 10px;
}

footer li {
    font-size: 8px;
}

footer {
    flex-direction: column;
}

#filtered {
    display: block;
    padding: 0 0 10px;
}

footer > div {
    width: 100%;
}

#div-popular figcaption > h3 {
    font-size: calc(8px + 0.6vw);
}

#div-popular figcaption > p {
    font-size: calc(7px + 0.7vw);
}

#div-popular > a {
    width: 100%;
}

#div-popular {
    flex-direction: column;
}

#picture-activities {
    flex-direction: column;
    height: initial;
}

div#picture-activities > div {
    width: 100%;
}

figure.figure-duo {
    height: 35vw;
}

div#div-fort-de-poègues-et-iles-du-frioul > a {
    height: 35vw;
}

div#div-notre-dame-de-la-garde-et-parc-longchamp > a {
    height: 35vw;
}

#field-search-bar {
    width: 100%;
}

li#house > a {
    padding-bottom: 20px;
}

li#activity > a {
    padding-bottom: 20px;
}

div#First-line figure figcaption > p {
    font-size: calc(7px + 0.7vw);
}

#First-line h3 {
    font-size: calc(8px + 0.6vw);
}

div#second-line figure figcaption > p {
    font-size: calc(7px + 0.7vw);
}

#second-line h3 {
    font-size: calc(8px + 0.6vw);
}

#accommodation-section figure {
    height: 38vw;
}

@media screen and (min-width: 566px) and (max-width: 768px) {
    #First-line figcaption {
        padding: 18px;
    }

    #second-line figcaption {
        padding: 18px;
    }

    #First-line figcaption > div {
        bottom: 10px;
    }

    #second-line figcaption > div {
        bottom: 10px;
    }
}

#activity-section div figcaption > h3 {
    font-size: calc(8px + 0.6vw);
}

body > header {
    padding: 0;
}
