#housing {
    flex-direction: column-reverse;
}

#popular-section {
    width: 100%;
}

#div-popular {
    flex-direction: row;
    width: 100%;
}

#div-popular figure > img {
    width: 50%;
}

#popular-section figure {
    height: 19vw;
}

#div-popular figcaption {
    width: 50%;
}

#div-popular > a {
    width: calc(100% / 3);
}

#accommodation-section {
    width: 100%;
}

#second-line {
    padding: 0;
}

#accommodation-section figure {
    height: 35vw;
    margin-bottom: 20px;
}

#First-line img {
    height: 70%;
}

#First-line figcaption {
    height: 30%;
    padding: 0;
}

#second-line img {
    height: 70%;
}

#second-line figcaption {
    height: 30%;
    padding: 0;
}

#picture-activities {
    flex-direction: column;
}

div#picture-activities > div {
    width: 100%;
}

#activity-section figure {
    height: 22vw;
}

#activity-section figure > img {
    object-fit: cover;
}

header nav {
    font-size: calc(4px + 1vw);
}
